body {
    margin: 10px;
  }
  
      .wrapper {
          display: grid;
      grid-gap: 10px;
          grid-template-columns: repeat(4, [col] 150px ) ;
          grid-template-rows: repeat(2, [row] auto  );
          background-color: #fff;
          color: #444;
      }
  
      .box {
          background-color: #444;
          color: #fff;
          border-radius: 5px;
          padding: 20px;
          font-size: 150%;
  
      }
  
      .box .box {
          background-color: #ccc;
          color: #444;
      }
  
      .a {
          grid-column: col / span 2;
          grid-row: row;
      }
  
      .b {
          grid-column: col 3 / span 2;
          grid-row: row;
      }
  
      .c {
          grid-column: col / span 3;
          grid-row: row 2;
          margin-left: 100px !important;
         
      }
     .rahul
     {
        height:80px !important;
        width: 200px !important;
        margin-left: 70px !important;
     }

     